<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>

  <!-- Link to the main CSS (Minima's default CSS) -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <!-- Link to your custom CSS file -->
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

</head>
<body>
  Wrapper<br>
  {% include header_old.html %}
  {{ content }}
  <br>Wrapper
</body>
</html>

<!-- OLDER:
	<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ site.title }}</title>
</head>
<body>
	Wrapper<br>
	{% include header_old.html %}
	{{ content }}
	<br>Wrapper
</body>
</html>
-->
